.catalog {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

@media (max-width: 1250px) {
    .catalog {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 840px) {
    .catalog {
        grid-template-columns: 1fr;
    }
}